*.o
*.cmd
modules.order
modules.builtin
built-in.a
*.o.d
*.a
*.tmp
*.dtb
*.so
*.ver
scripts/
vmlinux
*.ko
*.mod.c
SI/
.config
.config.old
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/kernel/vdso/vdso.so.dbg
certs/signing_key.x509
crypto/asymmetric_keys/pkcs7.asn1.c
crypto/asymmetric_keys/pkcs7.asn1.h
crypto/asymmetric_keys/x509.asn1.c
crypto/asymmetric_keys/x509.asn1.h
crypto/asymmetric_keys/x509_akid.asn1.c
crypto/asymmetric_keys/x509_akid.asn1.h
crypto/rsaprivkey.asn1.c
crypto/rsaprivkey.asn1.h
crypto/rsapubkey.asn1.c
crypto/rsapubkey.asn1.h
include/config/
include/generated/
kernel/bounds.s
rootfs_debian_arm64.ext4
rootfs_debian_arm64.tar.xz